
@import url('https://fonts.googleapis.com/css2?family=Almendra&display=swap');


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Almendra', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url('https://media.magic.wizards.com/images/wallpaper/WP_ZENIsland_1280x960.jpg'); */
  /* background-image: url(https://media.magic.wizards.com/images/wallpaper/WP_ROE2_1wnhoyxj1d_1280x960.jpg); */
  background-image: url(https://media.magic.wizards.com/images/wallpaper/wp_animarsoulofelements_1280x960.jpg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  font-family: 'Almendra';
}

h1 {
  font-family: 'Almendra';
}
